
/********************************************************/
/* This section contains menu styles and in some cases changes to menu */
/* styles found in the cmacommon style sheet           */
/********************************************************/

#dropmenuFrdCaseId {
    position:absolute;
    visibility:hidden;
    width:125px;
    left:0px;
    top:20px;
    z-index:100;
    background-color: white
}

.iewrap2 {
    position:absolute ;
    color:#000000;
    width: 200px;
    cursor:default ;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-size:10pt;
    font-weight:bold
}

.iewrap4 {
    position:absolute ;
    color:#000000;
    width: 125px;
    cursor:default ;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-size:10pt;
    font-weight:bold
}

/* This is the horizontal line for the menu */
.hrmenu {
    width:150px
}

.menuback {
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-size: 10pt;
    background-color:#f8f8f8;
    cursor: default
}

.menuhead {
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-size: 10pt;
    text-decoration: none;
    font-weight: bold;
    cursor: default
}

/* This is for the fraud case pulldown */
.topmenud {
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-size: 9pt;
    color: #002266;
    text-decoration: none;
    width: 125px;
    cursor: default
}


.tblheadercaps {
    text-align: left;
    vertical-align: top;
    width: 100%;
    background-color: #FFFFFF;
}

.tblmainfocus {
    text-align: left;
    vertical-align: top;
    height: 100%;
    width: 100%;
    background-color: #F0F8FF;
}

.tblmainfocusborder {
    text-align: left;
    vertical-align: top;
    height: 100%;
    width: 100%;
    background-color: #F0F8FF;
}

/*Only Bold */
.tdBoldTextOnly {
    font-weight: bold;
}

.tdShade1Emph {
    color: #FF00FF;
    font-weight: bold;
    font-size: 75%;
    background-color: #F0F8FF;
}

.tdsubtitlefocus {
    font-size: 80%;
    font-weight: bold;
    color: navy;
    text-transform: capitalize;
    padding-bottom: 0px
}

.largeError {
    font-size: 90%;
    color: Red
}

/*
* Below styles are added as part of DLOS freeze screen implementation.
* Delivered as part of Jan BAU 2012 install.
*/
.FreezePaneOff
{
    visibility: hidden;
    display: none;
    position: absolute;
    top: -100px;
    left: -100px;
}

.FreezePaneOn
{
    position: absolute;
    top: 0px;
    left: 0px;
    visibility: visible;
    display: block;
    width: 100%;
    height: 105%;
    background-color: #FFFFFF;
    z-index: 999;
    filter:alpha(opacity=40);
    -moz-opacity:0.85;
    padding-top: 25%;
}

.InnerFreezePane
{
    text-align: center;
    width: 45%;
    background-color: #FFFFFF;
    color: red;
    font-size: 85%;
    padding: 4px;
    border: solid 3px #111;
    border-color: green;
}
.FreezeTD
{
    text-align: center;
    background-color: #FFFFFF;
    color: red;
    font-size: 115%;
    font-weight: bold;
}

